:root {
    --cor-de-fundo: #000000;
    --cor-do-cabeçalho: #122ab6;
    --cor-do-cartão: #000000;
    --cor-da-fonte: #FFFFFF;
    
}


header{
    background-color: var(--cor-do-cabeçalho);
    color: var(--cor-da-fonte);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

}

main{
    background-color: var(--cor-de-fundo);
    color: #000000;
}